[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
halo = "*"
furl = "*"
sqlalchemy = "*"
maya = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
ipython = "*"
pylint = "*"
mypy = "*"
tox-travis = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.6"
